Lab2/zadanie4/uzytkownicy.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="uzytkownicy">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="uzytkownik" type="typUzytkownik" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="typUzytkownik">
    <xs:sequence>
      <xs:element name="imie" type="xs:string"/>
      <xs:element name="nazwisko" type="xs:string"/>
      <xs:element name="plec" type="typPlci"/>
      <xs:element name="wiek" type="xs:nonNegativeInteger"/>
      <xs:element name="kontakt" type="typKontakt"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:positiveInteger" use="required"/>
  </xs:complexType>

  <xs:complexType name="typKontakt">
    <xs:sequence>
      <xs:element name="email" type="xs:string"/>
      <xs:element name="telefon" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="typPlci">
    <xs:restriction base="xs:string">
      <xs:enumeration value="m"/>
      <xs:enumeration value="k"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
